In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\ayushi.jaiswal\appdata\local\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ayushi.jaiswal\appdata\local\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ayushi.jaiswal\appdata\local\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ayushi.jaiswal\appdata\local\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\ayushi.jaiswal\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

## How To Create a Dataframe

In [4]:
info = {
    "a": [1234, 23, 45],
    "b": [78, 867, 125],
}

# DataFrame is a class
df  = pd.DataFrame(info)

display(df)

      a    b
0  1234   78
1    23  867
2    45  125